<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="icon" href="../assets/watch-icon.png">
    <title>Update Product</title>
</head>

<body>
    <header>
        <div class="logo-div">
            <img class="logo" src="../assets/watch2.png" alt="Logo">
        </div>
        <div class="shop-name">
            Watch
        </div>
        <div class="shop-name">
            Admin Panel
        </div>
    </header>

    <nav>
        <div class="nav-right">
            <a href="./admin-read.html">Display Products</a>
            <a href="./admin-create.html">Add Product</a>
            <a href="./admin-update.html">Update Product</a>
            <a href="./admin-delete.html">Delete Product</a>
            <a href="./log_in.html">Log Out</a>
        </div>
    </nav>

    <div class="form-container">
        <form id="form">

            <div class="label-input">
                <label for="id">Id </label>
                <input id="Id" name="id" type="number" required placeholder="Product Id" tabindex="10">
            </div>

            <div class="label-input">
                <label for="name">Name </label>
                <input id="name" name="name" type="text" required placeholder="Product Name" tabindex="10">
            </div>

            <div class="label-input">
                <label for="price">Price </label>
                <input id="price" name="price" type="number" required placeholder="Price" tabindex="10">
            </div>

            <div class="label-input">
                <label for="category">Category</label>
                <input id="category" name="category" type="text" required placeholder="Category" tabindex="10">
            </div>

            <div class="label-input">
                <label for="description ">Description</label>
                <input id="description" name="description" type="text" required placeholder="Description" tabindex="10">
            </div>

            <div class="label-input">
                <label for="image_url ">Image</label>
                <input id="image" name="image_url" type="url" required placeholder="image" tabindex="10">
            </div> <br>

            <button type="submit" id="sign-up">Update Product</button> <br>
            <button type="submit" onclick="window.location.href = 'admin-read.html';">View Product</button>
        </form>


    </div>

    <script src="../scripts/register.js"></script>

    <script>pages.submit("update_product")</script>


</body>

</html>