<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="icon" href="../assets/watch-icon.png">
    <title>Add Product</title>
</head>

<body>
    <header>
        <div class="logo-div">
            <img class="logo" src="../assets/watch2.png" alt="Logo">
        </div>
        <div class="shop-name">
            Watch
        </div>
        <div class="shop-name">
            Admin Panel
        </div>
    </header>

    <nav>
        <div class="nav-right">
            <a href="./admin-read.html">Display Products</a>
            <a href="./admin-create.html">Add Product</a>
            <a href="./admin-update.html">Update Product</a>
            <a href="./admin-delete.html">Delete Product</a>
            <a href="./log_in.html">Log Out</a>
        </div>
    </nav>

</body>

</html>