<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/838322d488.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="icon" href="../assets/watch-icon.png">
    <title>Cart</title>
</head>

<body>
    <header>
        <div class="logo-div">
            <img class="logo" src="../assets/watch2.png" alt="Logo">
        </div>
        <div class="shop-name">
            Watch
        </div>
    </header>

    <nav>
        <div class="nav-right">
            <a href="./store.html">Store</a>
            <a href="./favorite.html">Favorite</a>
            <a href="./cart.html">Cart</a>
            <a href="./log_in.html">Log Out</a>
        </div>
    </nav>

    <section class="cart-body">

        <div class="title-body">

            <div class="cart-title">
                <h1 class="cart_title">SHOPPING CART</h1>
                <p class="total_price">Total=<span id="total">0</span>$</p>
            </div>


            <div class="cart_items" id="cart">
                <table id="productsTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody id="productsBody">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="cart-footer">
            <p class="empty_cart">Your cart is empty.</p>
            <button type="button" class="browse_button" onclick="window.location.href = 'store.html';">Browse
                Store</button>
        </div>

    </section>


    <footer class="footer">

        <div class="slogan">
            <div><img class="logo" src="../assets/watch2.png" alt="Logo"></div>
            <div class="shop-name">
                Watch
            </div>
            <div>Unleash your inner radiance:</div>
            <div>Shop our stunning watches now.</div>
        </div>

        <div class="socialmedia">
            <div><b>Connect With Us</b></div><br>
            <div class="socialmedia-item">
                <div class="icons"><img src="../assets/insta.png" alt="insta"></div>
                <div class="socialmedia-name">Watch</div>
            </div>
            <div class="socialmedia-item">
                <div class="icons"><img src="../assets/fb2.png" alt="fb"></div>
                <div class="socialmedia-name">Watch</div>
            </div>
            <div class="socialmedia-item">
                <div class="icons"><img src="../assets/mail.png" alt="mail"></div>
                <div class="socialmedia-name">Watch@Watch.com</div>
            </div>
            <div class="socialmedia-item">
                <div class="icons"><img src="../assets/telephone-62.png" alt="telephone"></div>
                <div class="socialmedia-name">+961 3 123456</div>
            </div>
        </div>

        <div class="newsletter">
            <div><b>Newsletter</b></div>
            <form>
                <input type="email" id="email-input" name="email" placeholder="Enter your email address">
                <button class="subscribe-button" type="submit">Subscribe</button>
            </form>
            <div><img style="height: 40px; width: auto;" src="../assets/payment.png" alt="payment"></div>

        </div>

        </div>
    </footer>

    <script src="../scripts/register.js"></script>

</body>

</html>