<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/838322d488.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="icon" href="../assets/watch-icon.png">
    <title>store</title>
</head>

<body>

    <nav>
        <div class="nav-left">
            <span class="nav-title">Watch Store</span>
        </div>
        <div class="nav-right">
            <a href="#">Store</a>
            <a href="./favorite.html">Favorite</a>
            <a href="./cart.html">Cart</a>
        </div>
    </nav>

    <div class="home-content">


        <div class="photo-and-desc">
            <div class="card">
                <div class="front">
                    <img class="collage2" src="../assets/watch1.jpg" alt="earring">
                </div>
                <div class="back">
                    <ul class="product_description_list"><b>Colored Stones Bracelet</b>
                        <li>Metal: Yellow Gold</li>
                        <li>Gemstone: Precious Colors</li>
                        <li>Non-Paved</li>
                        <li>Type of Bracelets: Rigid</li>
                        <li>Gold Weight : 11.67 g</li>
                        <li> Colored Stones: 0.27ct</li>
                    </ul>
                    <div class="card-buttons">
                        <button>Favorite</button>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- <ol id="cardList">
            <li>
                <a href="./student_stream.html">
                    <div class="card-head">
                        <div class="text">
                            <div class="card-title">
                                <h2>Class Title </h2>
                                <span> class info</span>
                            </div>
                            <span class="card-title">department</span>
                        </div>
                        <div class="card-icon-container">
                            <i class="fa-solid fa-ellipsis-vertical card-menu-icon" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div class="due">
                        <h4>Due Wednesday</h4>
                        <a href="#">10:00 AM - Google_Classroom... </a>
                    </div>
                    <img src="../assets/user.png" alt="user pic">
                </div>
                <div class="card-footer">
                    <div class="card-icon-container">
                        <i class="fa-regular fa-id-badge card-footer-icon" style="color: #383838;"></i>
                    </div>
                    <div class="card-icon-container">
                        <i class="fa-regular fa-folder-closed card-footer-icon" style="color: #242424;"></i>
                    </div>
                </div>
            </li>

        </ol> -->
    </div>

    <script src="../sources/script.js"></script>

</body>

</html>