@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Urbanist:wght@100;200;300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Urbanist;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.4286;
  min-height: 100vh;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background-color: #d5d1cb;
  padding: 1.5em;
}

.logo {
  height: 100px;
}

.shop-name {
  font-family: Great Vibes;
  font-size: 2.6em;
  font-weight: 700;
}

.nav-title {
  color: #fcf6ee;
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
  font-size: 1.38125rem;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1em;
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #212121;
}

.nav-right {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  text-align: center;
  align-items: center;
}

.nav-right a {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  color: #fcf6ee;
  padding: 0 1.5em;
}

.nav-right a:hover {
  color: #b98223;
}

.photo-and-desc {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 300px;
  height: 500px;
  position: relative;
  perspective: 1000px;
  margin-bottom: 100px;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
  transition: transform 0.5s ease-in-out;
}

.back {
  transform: rotateY(180deg);
  transition: transform 0.5s ease-in-out;
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.collage2 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.card .back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #f5efed;
  color: #a68d60;
  font-weight: 300;
  font-size: 18px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-buttons {
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 2em 0;
}

button {
  border: none;
  padding: 1em;
  background-color: #a68d60;
  color: black;
  cursor: pointer;
}

button:hover {
  color: #fff;
}

.product_description_list {
  list-style: square;
  margin: 0;
  padding-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: #a68d60;
}

.home-content {
  margin: 2em;
}

.user-name {
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  padding-right: 0.5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5d1cb;
  width: 100vw;
  flex-shrink: 0;
}

.slogan {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.socialmedia-item {
  display: flex;
}

.socialmedia-name {
  padding: 10px;
}

.newsletter {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
  align-items: center;
}

footer input {
  border: none;
  padding: 1em;
}

.icons {
  padding: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.icons img {
  height: 20px;
  width: auto;
}

.icons:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    position: static;
  }
  .nav-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .photo-and-desc {
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
  }

  .footer {
    flex-direction: column;
  }
}
/* cart/favorite section */

.cart-body {
  margin: 1.2em;
  min-height: 40vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.title-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cart-title {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.cart-footer {
  display: flex;
  flex-direction: column;
}

.cart_items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse_button :hover {
  opacity: 0.5;
}
.empty_cart {
  font-size: 30px;
}
.total_price {
  margin-left: 30px;
  font-size: large;
}

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4em 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
  background-color: #cacaca;
  padding: 3em;
}

.label-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
}

.label-input input {
  width: 60%;
  padding: 0.7em 1.2em;
}

input:focus {
  background-color: #fffbed;
}

.user-info {
  margin-bottom: 1em;
}

.label-input label {
  font-size: 1em;
  font-weight: 600;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em 15em;
}

.image-col {
  max-width: 20px;
  white-space: nowrap;
  text-overflow: clip;
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
  color: #444;
}
form {
  display: inline-block;
  margin-bottom: 10px;
}
form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #3e8e41;
}
.form-group {
  margin-bottom: 10px;
}
.form-group label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}
